.header{
    display: flex;
    align-items: center;
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #7EFFBB;
}

.divider {
  width: 2px;
  height: 60px;
  background: #5e6460;
  margin: 0 12px;
}

.logo{
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 0 0 12px #FAFAFA22;
    border-radius: 12px;
}

.beru{
    margin-left: auto;
}

.kariicon{
    border-radius: 50%;
    margin-right: 20px;
}

.sidebar {
    position: fixed;
    font-size: 40px;
    top: 60px;
    left: -220px;
    width: 12%;
    height: calc(100vh - 60px);
    background: #F7FC66;
    transition: left 0.3s ease;
}

@font-face {
    font-family: sidefont;
    src: url(./fonts/ShinRetroMaruGothic-Medium.ttf) format("truetype");
}

.sidebar a {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #66DAFC;
}

.sidebar a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1.2em;
  width: 0%;
  height: 3px;
  background: #464839;
  transition: width 0.3s ease;
}

.sidebar a:hover::after {
  width: 100%;
}

#sidemenu:checked ~ .sidebar {
    left: 0;
}
