body{
    background-color: #defdec;
    font-size: 20px;
}

.header{
    display: flex;
    align-items: center;
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #7EFFBB;
}

.searchbar {
    font-size: 20px;
    padding: 8px;
    width: 100%;
    height: 30px;
    border: 3px solid #27714A;
    border-radius: 25px;
    color: black;
    padding-left: 44px;
}

.search-wrap {
    position: relative;
    width: 30%;
    top:-7px;
    margin: 0 auto;
}

.search-icon {
    position: absolute;
    top: 40%;
    left: 12px;
    width: 24px;
    pointer-events: none;
}


.divider {
    width: 2px;
    height: 60px;
    background: #5e6460;
    margin: 0 12px;
}

.logo{
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 0 0 12px #FAFAFA22;
    border-radius: 12px;
}

.right-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.kariicon{
    border-radius: 50%;
    margin-right: 20px;
}

.sidebar {
    position: fixed;
    font-size: 40px;
    top: 60px;
    left: -220px;
    width: 12%;
    height: calc(100vh - 60px);
    background: #F7FC66;
    transition: left 0.3s ease;
}

@font-face {
    font-family: sidefont;
    src: url(./fonts/ShinRetroMaruGothic-Medium.ttf) format("truetype");
}

.sidebar a {
    font-family: sidefont;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #66DAFC;
}

.sidebar a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.2em;
    width: 0%;
    height: 3px;
    background: #464839;
    transition: width 0.3s ease;
}

.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.sidebar {
    z-index: 10;
}

#sidemenu:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
}


.sidebar a:hover::after {
    width: 100%;
}

#sidemenu:checked ~ .sidebar {
    left: 0;
}

