.header{
    display: flex;
    align-items: center;
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #7EFFBB;
}

.logo{
    margin-top: 5px;
    margin-left: 20px;
    box-shadow: 0 0 12px #FAFAFA22;
    border-radius: 12px;
}

.beru{
    margin-left: auto;
}

.kariicon{
    border-radius: 50%;
    margin-right: 20px;
}

.sidebar {
    position: fixed;
    font-size: 40px;
    top: 60px;
    left: -220px;
    width: 180px;
    height: calc(100vh - 60px);
    background: #F7FC66;
    transition: left 0.3s ease;
}

@font-face {
    font-family: sidefont;
    src: url(./fonts/ShinRetroMaruGothic-Medium.ttf) format("truetype");
}

.sidebar a{
    font-family: sidefont;
    text-decoration-color: #3F4D03;
    background-color: #F7FC66;
    color: #66DAFC;
    margin-bottom:4px;
}

.sidebar a:hover{
    background: #5CFCD355;
}

#sidemenu:checked ~ .sidebar {
    left: 0;
}
