.header{
    font-size: 60px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: #48C0FF;
}

.header img{
    margin-top: 10px;
    margin-left: 20px;
}

.sidebar {
    position: fixed;
    font-size: 40px;
    top: 100px;
    left: -220px;
    width: 220px;
    height: calc(100vh - 60px);
    background: #F7FC66;
    transition: left 0.3s ease;
}

.sidebar a {
    text-decoration-color: #3F4D03;
    background-color: #F7FC66;
    color: #66DAFC;
    margin-bottom:4px;
}

.sidebar a:hover{
    background: #5CFCD355;
}

#sidemenu:checked ~ .sidebar {
  left: 0;
}
