@font-face {
    font-family: mainfont;
    src: url(/NotoSansJP-VariableFont_wght.ttf) format("truetype");
}

body{
    font-family: mainfont, 'sans', system-ui, sans-serif;
    background-color: #defdec;
    font-size: 20px;
}

img{
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
    -ms-user-select: none; /* IE向け */
    //pointer-events: none; /* 右クリックや長押し禁止 */
}

.header{
    display: flex;
    align-items: center;
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #7EFFBB;
}

.searchbar {
    font-size: 20px;
    padding: 8px;
    width: 100%;
    height: 30px;
    border: 3px solid #27714A;
    border-radius: 25px;
    color: black;
    padding-left: 44px;
}

.search-wrap {
    position: relative;
    width: 30%;
    top:-7px;
    margin: 0 auto;
}

.search-icon {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 12px;
    width: 24px;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 160ms ease;
}

.search-icon:hover,
.search-icon:focus-visible {
  cursor: pointer;
  background-color: rgba(0, 123, 255, 0.256); /* 微かな色付き */
}

.divider {
    width: 2px;
    height: 60px;
    background: #5e6460;
    margin: 0 12px;
}

.logo{
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 0 0 12px #FAFAFA22;
    border-radius: 12px;
}

.right-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.kariicon{
    border-radius: 50%;
    margin-right: 20px;
}

.sidebar {
    position: fixed;
    font-size: 40px;
    top: 60px;
    left: -12%;
    width: 12%;
    height: calc(100vh - 60px);
    background: #F7FC66;
    transition: left 0.3s ease;
    z-index: 10;
}

@font-face {
    font-family: sidefont;
    src: url(/fonts/ShinRetroMaruGothic-Medium.ttf) format("truetype");
}

.sidebar a {
    font-family: sidefont;
    position: relative;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #66DAFC;
}

.sidebar a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.2em;
    width: 0%;
    height: 3px;
    background: #464839;
    transition: width 0.3s ease;
}

.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 5;
}

#sidemenu:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
}

.sidebar a:hover::after {
    width: 100%;
}

#sidemenu:checked ~ .sidebar {
    left: 0;
}

// ログイン画面

.backpicture {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.login-board {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 300px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
}


.user-name{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.password-wrap {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.password {
    width: 100%;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px 60px 10px 10px;
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 60px;
    cursor: pointer;
}

.loginbtn{
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
}

.wrongpassword{
    background: rgb(63, 228, 228);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: red;
}

.signupbtn{
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
    font-family: mainfont;
    src: url(/NotoSansJP-VariableFont_wght.ttf) format("truetype");
}

.main-layout {
  display: flex;
  gap: 24px;
  max-width: 1200px;
  margin: 0px auto 0;
  padding-top: 60px;
  height: 100vh;
  box-sizing: border-box;
}

.timeline {
  display: column;
  flex-direction: column;
  flex: 6;
  overflow-y: auto;
  width: 700px;
}

.post-right {
  display: block;
  flex: 5;
  background: #ffffff;
  border: 1px solid #e6ecf0;
  border-radius: 16px;
  padding: 20px;
}

.post-text-preview {
  margin-top: 6px;
  font-size: 15px;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  overflow: hidden;
}

.post {
    display: flex;
    gap: 12px;

    padding: 16px;
    margin-bottom: 12px;

    background: #ffffff;
    border: 1px solid #e6ecf0;
    border-radius: 16px;

    transition: background 0.2s ease;
}

.post:hover {
    background: #f6faf5;
}

.post-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.post-content {
    flex: 1;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.post-title {
    color: black;
    font-weight: 700;
}

.post-username {
    color: #536471;
}

.post-attribute {
    margin-left: 2px;
    font-size: clamp(1px,1.7vw,20px);
    font-weight: 500;
    border-radius: 30px;
    padding: 2px;
    color: #bbbb07;
    border: solid #f7f46a;
}

.post-attribute-experience {
    margin-left: 2px;
    font-size: clamp(1px,1.7vw,20px);
    font-weight: 500;
    border-radius: 30px;
    padding: 2px;
    color:#e8890d;
    border: solid #e8890d;
}

.post-text {
    color: black;
    margin-top: 6px;
    font-size: 15px;
    line-height: 1.6;

    white-space: pre-wrap;
    word-break: break-word;
}

.post-tag {
    margin-top: 8px;
    font-size: 14px;
    background: #e8f9f3;
    color: rgb(3, 190, 223);
    cursor: pointer;
    transition: color 0.15s ease;
}

.post-tag::before {
    content: "#";
    margin-right: 2px;
}

.post-actions {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
}

.post-actions span {
    cursor: pointer;
    transition: color 0.15s ease;
}

.post-actions span:hover {
    color: #0d52e8;
}

.check-btn {
  font-size: 13px;
  color: #1d9bf0;
  cursor: pointer;

  padding: 6px 12px;
  border-radius: 999px;

  transition: background 0.15s ease, color 0.15s ease;
}

.check-btn:hover {
  background: rgba(29, 155, 240, 0.15);
}

.post-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

#sidemenu:checked ~ .sidebar {
    left: 0;
*{
    box-sizing: border-box;
}
}
.box{
    width: 12%;
    height: 100%;
    background: red;
    color: white;
}

#side-space-left{
    position: fixed;
    top: 60px;
    left: 0;
    background: #F7FC66;
}

.outer{
    height: 80%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.post-function{
    text-align: center;
}
.title-space{
    padding: 10px;
    border-radius: 15px;
    border-color: black;
    height: 50px;
    width: 300px;
    margin-top: 100px;
    font-size: 23px;
    margin-bottom: 20px;
}
.tag-space{
    display: flex;
    align-items: center;
    border: 2px dotted rgb(255, 167, 66);
    height: 60px;
    margin: 10px auto 10px;
    width: 90%;
}
.text-area-space{
    border: 2px solid black;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto 0;
    height: 250px;
    resize: none;
    outline: none;
    font-size: 20px;
}

.text-area-space .text-function{
        display: flex;
        align-items: center;
        //justify-content: left;
        height: 50px;
        width: 100%;
}

.button-container{
    margin-right: -10%;
    text-align: right;
}
.post-button{
    display: flex;
    justify-content: right;
}
.post-button img{
    right: 0;
    border-radius: 30px;
    background-color: #fffac9;
    height: 70px;
    width: 80px;
}
.post-button img:hover{
    background-color: #e4d65a;
}
.post-button img:active{
    transform: translateY(1px);
}

.picture-button{
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: lightgray;
    height: 50px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture-button img  {
    border-radius: 10px;
    height: 90%;
    width: 90%;
}
.picture-button:hover{
    background-color: gray;
}
.picture-button:active{
    transform: translateY(1px);
}


.form-check{
    position:absolute;
    top: 140px;
    left: 87%;
    width: 100px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border-radius: 10px;
}

#side-space-left .tag-function{
    margin-top: 60px;
    text-align: center;
}
.tag-search-window{
    border-radius: 100px;
    height: 50px;
    width: 90%;
    padding-left: 5px;

}

.tag-predict{
    border: 1px dashed black;
    width: 90%;
    height: 450px;
    border-radius: 10px;
    background: rgb(255, 243, 176);
    margin: 10px auto;
}

.tag-predict p{
    margin-top: 5px;
    font-size: 18px;
    color: rgb(73, 73, 73);
}

.tag-predict .tag-object{
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    height: 40px;
    width: 90%;
    background: #e8f9f3;
}
.tag-predict .tag-object:hover{
    background-color: rgb(169, 242, 230);
}
.tag-predict .tag-object:active{
    transform: translateY(1px);
}
.tag-predict .tag-object p{
    color: black;
}

.tag-space .tag-object{

    border: 1px solid black;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    background-color: rgb(230, 247, 245);
    color: rgb(27, 153, 162);
    display: flex;
    align-items: center;
    margin-left: 5px;
    overflow: hidden;
}
/*.tag-space{
    display: flex;
    align-items: center;
    border: 2px dotted rgb(255, 167, 66);
    height: 60px;
    margin: 10px auto 10px;
    width: 90%;
}*/
.text-area-space{
    margin-right: -60px;
    margin-left: 60px;
}
.tag-space .tag-object p{
    margin: 0;
}
.tag-space .tag-object .tag-name{
    text-align: center;
    justify-content: center;
    width: 80%;
}
.tag-space .tag-object .tag-cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    justify-content: center;
    width: 25px;
    height: 25px;
}
.tag-space .tag-object .tag-cancel:hover{
    background-color: rgb(211, 211, 211);
}

.cantlook {
  position: relative;
  background-color: #fff;
  border-radius: 30px;
  width: 700px;
  height: 300px;
}

.cantlook span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%); /* 真ん中に寄せる */
}
