@font-face {
    font-family: 'sans';
    src: url('/fonts/NotoSansJP-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'sans', system-ui, sans-serif;
}

.backpicture {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.login-board {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 300px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
}


.user-name{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.password-wrap {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.password {
    width: 100%;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px 60px 10px 10px;
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 60px;
    cursor: pointer;
}


.loginbtn{
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
}

.wrongpassword{
    background: rgb(63, 228, 228);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: red;
}

.signupbtn{
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
}