@font-face {
    font-family: mainfont;
    src: url(/NotoSansJP-VariableFont_wght.ttf) format("truetype");
}

body{
    font-family: mainfont, 'sans', system-ui, sans-serif;
    background-color: #defdec;
    font-size: 20px;
}

.header{
    display: flex;
    align-items: center;
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #7EFFBB;
}

.searchbar {
    font-size: 20px;
    padding: 8px;
    width: 100%;
    height: 30px;
    border: 3px solid #27714A;
    border-radius: 25px;
    color: black;
    padding-left: 44px;
}

.search-wrap {
    position: relative;
    width: 30%;
    top:-7px;
    margin: 0 auto;
}

.search-icon {
    position: absolute;
    top: 40%;
    left: 12px;
    width: 24px;
    pointer-events: none;
}

.divider {
    width: 2px;
    height: 60px;
    background: #5e6460;
    margin: 0 12px;
}

.logo{
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 0 0 12px #FAFAFA22;
    border-radius: 12px;
}

.right-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.kariicon{
    border-radius: 50%;
    margin-right: 20px;
}

.sidebar {
    position: fixed;
    font-size: 40px;
    top: 60px;
    left: -12%;
    width: 12%;
    height: calc(100vh - 60px);
    background: #F7FC66;
    transition: left 0.3s ease;
}

@font-face {
    font-family: sidefont;
    src: url(/fonts/ShinRetroMaruGothic-Medium.ttf) format("truetype");
}

.sidebar a {
    font-family: sidefont;
    position: relative;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #66DAFC;
}

.sidebar a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.2em;
    width: 0%;
    height: 3px;
    background: #464839;
    transition: width 0.3s ease;
}

.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.sidebar {
    z-index: 10;
}

#sidemenu:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
}


.sidebar a:hover::after {
    width: 100%;
}

#sidemenu:checked ~ .sidebar {
    left: 0;
}

// ログイン画面

.backpicture {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.login-board {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 300px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
}


.user-name{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.password-wrap {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
}

.password {
    width: 100%;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px 60px 10px 10px;
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 60px;
    cursor: pointer;
}


.loginbtn{
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
}

.wrongpassword{
    background: rgb(63, 228, 228);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: red;
}

.signupbtn{
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 70px;
    font-size: 40px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
    font-family: mainfont;
    src: url(/NotoSansJP-VariableFont_wght.ttf) format("truetype");
}

body{
    font-family: mainfont;
    background-color: #defdec;
    font-size: 20px;
}

.header{
    display: flex;
    align-items: center;
    font-size: 40px;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #7EFFBB;
}

.searchbar {
    font-size: 20px;
    padding: 8px;
    width: 100%;
    height: 30px;
    border: 3px solid #27714A;
    border-radius: 25px;
    color: black;
    padding-left: 44px;
}

.search-wrap {
    position: relative;
    width: 30%;
    top:-7px;
    margin: 0 auto;
}

.search-icon {
    position: absolute;
    top: 40%;
    left: 12px;
    width: 24px;
    pointer-events: none;
}

.divider {
    width: 2px;
    height: 60px;
    background: #5e6460;
    margin: 0 12px;
}

.logo{
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 0 0 12px #FAFAFA22;
    border-radius: 12px;
}

.right-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.kariicon{
    border-radius: 50%;
    margin-right: 20px;
}

.sidebar {
    position: fixed;
    font-size: 40px;
    top: 60px;
    left: -12%;
    width: 12%;
    height: calc(100vh - 60px);
    background: #F7FC66;
    transition: left 0.3s ease;
}

@font-face {
    font-family: sidefont;
    src: url(/fonts/ShinRetroMaruGothic-Medium.ttf) format("truetype");
}

.sidebar a {
    font-family: sidefont;
    position: relative;
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #66DAFC;
}

.sidebar a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.2em;
    width: 0%;
    height: 3px;
    background: #464839;
    transition: width 0.3s ease;
}

.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.sidebar {
    z-index: 10;
}

#sidemenu:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
}


.sidebar a:hover::after {
    width: 100%;
}

#sidemenu:checked ~ .sidebar {
    left: 0;
}

//ResponceScreen
*{
    box-sizing: border-box;
}
.box{
    width: 12%;
    height: 100%;
    background: red;
    color: white;
}

#side-space-left{
    position: fixed;
    top: 60px;
    left: 0;
    background: rgba(255, 230, 0, 0.993);
}


.outer{
    height: 80%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.post-function{
    text-align: center;
}
.title-space{
    padding: 10px;
    border-radius: 15px;
    border-color: black;
    height: 50px;
    width: 300px;
    margin-top: 100px;
    font-size: 23px;
}
.tag-space{
    display: flex;
    align-items: center;
    border: 2px dotted rgb(255, 167, 66);
    height: 60px;
    margin: 10px auto 10px;
    width: 90%;
}
.text-area-space{
    border: 2px solid black;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto 0;
    overflow: hidden;
}
.text-area-space .text-space{
        padding: 10px;
        border: none;
        height: 250px;
        width: 100%;
        resize: none;
        outline: none;
        border-bottom: 1px solid black;
        font-size: 20px;
}
.text-area-space .text-function{
        display: flex;
        align-items: center;
        //justify-content: left;
        height: 50px;
        width: 100%;
}

.button-container{
    margin-right: -10%;
    text-align: right;
}
.post-button{
    display: flex;
    justify-content: right;
}
.post-button img{
    right: 0;
    border-radius: 30px;
    background-color: #fffac9;
    height: 70px;
    width: 80px;
}
.post-button img:hover{
    background-color: #e4d65a;
}
.post-button img:active{
    transform: translateY(1px);
}

.picture-button{
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: lightgray;
    height: 50px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture-button img  {
    border-radius: 10px;
    height: 90%;
    width: 90%;
}
.picture-button:hover{
    background-color: gray;
}
.picture-button:active{
    transform: translateY(1px);
}


.form-check{
    position:absolute;
    top: 140px;
    left: 87%;
    width: 100px;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border-radius: 10px;
}

#side-space-left .tag-function{
    margin-top: 60px;
    text-align: center;
}
.tag-search-window{
    border-radius: 100px;
    height: 50px;
    width: 90%;
    padding-left: 5px;

}

.tag-predict{
    border: 1px dashed black;
    width: 90%;
    height: 450px;
    border-radius: 10px;
    background: rgb(255, 243, 176);
    margin: 10px auto;
}

.tag-predict p{
    margin-top: 5px;
    color: rgb(73, 73, 73);
}

.tag-predict .tag-object{
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    height: 40px;
    width: 90%;
    background-color: white;
}
.tag-predict .tag-object:hover{
    background-color: lightgray;
}
.tag-predict .tag-object:active{
    transform: translateY(1px);
}
.tag-predict .tag-object p{
    color: black;
}

.tag-space .tag-object{

    border: 1px solid black;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 5px;
    overflow: hidden;
}
.tag-space .tag-object p{
    margin: 0;
}
.tag-space .tag-object .tag-name{
    text-align: center;
    justify-content: center;
    width: 80%;
}
.tag-space .tag-object .tag-cancel{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    justify-content: center;
    width: 25px;
    height: 25px;
}
.tag-space .tag-object .tag-cancel:hover{
    background-color: lightgray;
}